.about-section {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column; /* Stack on mobile */
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
}

.about-content {
  flex: 1;
  text-align: start;
}

.about-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-dark);
  line-height: 1.2;
}
.about-content p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--text-light);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: red;
}

.username-highlight {
  text-decoration: underline;
  font-weight: 600;
}


.about-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.about-image {
  display: none;
}

/* --- Buttons --- */
.btn {
  padding: 1rem 1.7rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-outline {
  background-color: transparent;
  color: var(--text-dark);
  border: 2px solid var(--text-dark);
}

.btn-outline:hover {
  background-color: var(--text-dark);
  color: var(--white);
}

.btn-secondary {
  background-color: transparent;
  color: var(--text-dark);
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

/* --- Responsive Design (for Tablets and Desktops) --- */
@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    text-align: left;
    gap: 4rem;
  }

  .about-content p {
    margin-left: 0;
    margin-right: 0;
  }

  .about-image {
    display: block;
    flex: 1;
    width: 80%;
    overflow: hidden;
  }

  .about-image img {
    width: 90%;
    height: 90%;
    border-radius: 0.5rem;
  }

  .about-buttons {
    margin-top: 4rem;
    justify-content: flex-start;
  }

  .about-content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .about-content h1 {
    font-size: 3.4rem; /* Even larger on big screens */
  }
}
