footer {
  padding: 2rem;
  background-color: var(--white);
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: sticky;
  z-index: 1000;
  margin-top: 2rem;
}
